<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Muttkraft</title>
        <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
        <style>
         #navigation-resources {
            # background-image: url(<%= Routes.static_path(@conn, "/images/fabric.png") %>);
            # background-repeat: repeat;
         }

         #navigation-resources > .resource {
             display: inline-grid;
             grid-template-columns: 1fr 1fr;

             height: 2.7em;
             padding: 0.2em;
             background-color: white; 
             border: 2px solid #e7e7e7;
             border-radius: 5px;

         }
         #navigation-resources > .resource > .image {
            grid-row-start: 1;
            grid-row-end: span 3;
            justify-self: center;
             height: 26px;
             width: 37px;
         }

         #navigation-resources > .resource > .image > img {
             max-height: 26px;
             max-width: 37px;
         }


         #navigation-resources > .resource > numbers {
             min-width: 4em;
             color: green;
         }
         

         #navigation-resources > .resource > .back-bar {
             margin-left: 5px;
             margin-right: 5px;

             border: 1px solid black;
             border-radius: 5px;
             background-color: black;
             height: 6px;
         }

         .back-bar > .inner-bar {
             border-radius: 5px;
             height: 100%;
         }

         nav[role=navigation] ul li {
             display: inline-block;
         }

        </style>
    </head>
    <body>
        <header>
            <section class="container">
                <nav role="navigation">

                    <%= if Map.has_key?(@conn.assigns, :resource_pile) do %>
                        <%= render "_top_bar.html", conn: @conn, village: @village, resource_pile: @resource_pile %>
                    <% end %>

                    <ul>
                        

                     
                        <%= if Map.has_key?(@conn.assigns, :current_user) do %>
                            Hello <%= @conn.assigns.current_user.name %> | 
                            <li><%= link "Log out", to: Routes.session_path(@conn, :delete), method: :delete %></li> |
                        <% else %>
                            <li><%= link "Login", to: Routes.session_path(@conn, :new) %></li> |
                        <% end %>

                        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
                        <% end %>

                    </ul>
                </nav>
            </section>
        </header>
        <main role="main" class="container">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= @inner_content %>
        </main>
    </body>
</html>
