<h1>New Building</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.village_building_path(@conn, :create, @village.id)) %>

<span><%= link "Back", to: Routes.village_path(@conn, :show, @village.id) %></span>
